
Debug.win32/CppBigWork.tlog/rc.command.1.tlog
.vs/CppBigWork/FileContentIndex/17695c31-3cbe-46a0-95a3-36e091456e64.vsidx
.vs/CppBigWork/FileContentIndex/828b19b4-8e6a-4e7b-a220-bbec476d927c.vsidx
.vs/CppBigWork/FileContentIndex/1fc0bef7-71d0-4e5d-aca3-d57c384871d3.vsidx
.vs/CppBigWork/FileContentIndex/f824ed6e-21a8-49da-b60b-d970bf00a80c.vsidx
.vs/CppBigWork/FileContentIndex/read.lock
.vs/CppBigWork/v17/Browse.VC.db
.vs/CppBigWork/v17/fileList.bin
.vs/CppBigWork/v17/.suo
.vs/CppBigWork/v17/ipch/708a275d1c13279c.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/1aa299cf8e6027f2/HELLOWORLDSCENE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/1b37524203eb0336/APPDELEGATE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/1c64a215b7831c55/MAIN.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/2d8ce39b69c56909/CONTROLLER.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/3398b9a7f4927b25/PLAYER.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/414df32667cb3929/CONTROLLERLISTENER.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/53dcece49f8c6662/ENTITY.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/64a25da9bbcc2c9c/CALLBACKTIMECOUNTER.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/68887b893a48ab4c/MAINSCENE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/70211a159ba6073/SIMPLEMOVECONTROLLER.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/7a09306114259e54/LOADINGSCENE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/7f9bd2a61c787539/GAMESCENE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/8e2a622ffad6fc3f/ENTITY.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/8ee4db49bcfe2b15/LOADINGSCENE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/968b6a524eca8396/SIMPLEMOVECONTROLLER.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/9f00a12b690c6dcc/INITSCENE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/b057e097eafde6c1/CHECKRECT.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/b5c621d3053db6b4/PHYSICSRIPPLESPRITE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/bffb17a9ebd43205/NOTE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/c415e25b8cfdb34d/CALLBACKTIMECOUNTER.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/cb5cadca62c133b8/GAMESCENE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/d242ec27c2701a2c/PLAYER.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/e08868c0ead7ecf5/PHYSICSRIPPLESPRITE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/e2e2c2fc6acfb984/NOTE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/ed54d3a51303fc5/MAINSCENE.ipch
.vs/CppBigWork/v17/ipch/AutoPCH/fee4338e8424b88/CONTROLLER.ipch
.vs/CppBigWork/v17/Solution.VC.db
build-cfg.json
CallbackTImeCounter.cpp
CallbackTimeCounter.h
Controller.cpp
Controller.h
ControllerListener.h
CppBigWork.sln
CppBigWork.vcxproj
CppBigWork.vcxproj.filters
CppBigWork.vcxproj.user
Debug.win32/AppDelegate.obj
Debug.win32/CallbackTImeCounter.obj
Debug.win32/Controller.obj
Debug.win32/CppBigWork.exe
Debug.win32/CppBigWork.exe.recipe
Debug.win32/CppBigWork.exp
Debug.win32/CppBigWork.ilk
Debug.win32/CppBigWork.lib
Debug.win32/CppBigWork.log
Debug.win32/CppBigWork.pdb
Debug.win32/CppBigWork.tlog/CL.command.1.tlog
Debug.win32/CppBigWork.tlog/CL.read.1.tlog
Debug.win32/CppBigWork.tlog/CL.write.1.tlog
Debug.win32/CppBigWork.tlog/CppBigWork.lastbuildstate
Debug.win32/CppBigWork.tlog/CppBigWork.write.1u.tlog
Debug.win32/CppBigWork.tlog/CustomBuildStep.read.1u.tlog
Debug.win32/CppBigWork.tlog/CustomBuildStep.write.1u.tlog
Debug.win32/CppBigWork.tlog/link.command.1.tlog
Debug.win32/CppBigWork.tlog/link.read.1.tlog
Debug.win32/CppBigWork.tlog/link.write.1.tlog
Debug.win32/CppBigWork.tlog/rc.read.1.tlog
Debug.win32/CppBigWork.tlog/rc.write.1.tlog
Debug.win32/CppBigWork.vcxproj.FileListAbsolute.txt
Debug.win32/Entity.obj
Debug.win32/freetype.lib
Debug.win32/game.res
Debug.win32/gameScene.obj
Debug.win32/glew32.dll
Debug.win32/glew32.lib
Debug.win32/glfw3.lib
Debug.win32/HelloWorldScene.obj
Debug.win32/iconv.dll
Debug.win32/initScene.obj
Debug.win32/json_reader.obj
Debug.win32/json_value.obj
Debug.win32/json_writer.obj
Debug.win32/libbox2d.lib
Debug.win32/libbullet.lib
Debug.win32/libchipmunk.lib
Debug.win32/libcocos2d.dll
Debug.win32/libcocos2d.exp
Debug.win32/libcocos2d.lib
Debug.win32/libcocos2d.pdb
Debug.win32/libcrypto-1_1.dll
Debug.win32/libcrypto.lib
Debug.win32/libcurl.dll
Debug.win32/libcurl.lib
Debug.win32/libiconv.lib
Debug.win32/libjpeg.lib
Debug.win32/libmpg123.dll
Debug.win32/libmpg123.lib
Debug.win32/libogg.dll
Debug.win32/libogg.lib
Debug.win32/libpng.lib
Debug.win32/librecast.lib
Debug.win32/librecast.pdb
Debug.win32/libSpine.idb
Debug.win32/libSpine.lib
Debug.win32/libSpine.pdb
Debug.win32/libssl-1_1.dll
Debug.win32/libssl.lib
Debug.win32/libtiff.lib
Debug.win32/libvorbis.dll
Debug.win32/libvorbis.lib
Debug.win32/libvorbisfile.dll
Debug.win32/libvorbisfile.lib
Debug.win32/libwebp.lib
Debug.win32/libzlib.lib
Debug.win32/loadingScene.obj
Debug.win32/main.obj
Debug.win32/mainScene.obj
Debug.win32/OpenAL32.dll
Debug.win32/OpenAL32.lib
Debug.win32/PhysicsRippleSprite.obj
Debug.win32/Player.obj
Debug.win32/Resources/BOW.mp3
Debug.win32/Resources/closeGame.png
Debug.win32/Resources/CloseNormal.png
Debug.win32/Resources/CloseSelected.png
Debug.win32/Resources/Combo.png
Debug.win32/Resources/falling-dust.plist
Debug.win32/Resources/false.png
Debug.win32/Resources/fonts/arial.ttf
Debug.win32/Resources/fonts/Marker Felt.ttf
Debug.win32/Resources/gameBackground.jpg
Debug.win32/Resources/gameBackground.png
Debug.win32/Resources/gameSceneSprites.plist
Debug.win32/Resources/gameSceneSprites.png
Debug.win32/Resources/HelloWorld.png
Debug.win32/Resources/initBackground.jpg
Debug.win32/Resources/line.png
Debug.win32/Resources/loadingLabel.png
Debug.win32/Resources/mainBackground.jpg
Debug.win32/Resources/note.png
Debug.win32/Resources/PROMISE.png
Debug.win32/Resources/res/.gitkeep
Debug.win32/Resources/startGame.png
Debug.win32/Resources/TimeData.json
Debug.win32/Resources/true.png
Debug.win32/SimpleMoveController.obj
Debug.win32/sqlite3.dll
Debug.win32/sqlite3.lib
Debug.win32/uv.dll
Debug.win32/uv_a.lib
Debug.win32/vc143.idb
Debug.win32/vc143.pdb
Debug.win32/websockets.dll
Debug.win32/websockets.lib
Debug.win32/zlib1.dll
game.aps
game.rc
*.vsidx
*.ipch
*.obj
